.card-container {
  min-width: 400px;
  min-height: 400px;

  /* opacity: 0.1 */

  display: grid;
  float: left;
  position: relative;
  left: 15%;
  font-family: "Montserrat", sans-serif;
  color: ghostwhite;
  margin: 1rem;
  margin-bottom: 3rem;
  width: 400px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 5px black;
  transition: 0.5s;
  animation: ease-in-out;
  z-index: 1;
}

.card-container:hover {
  transform: scale(1.5);
  box-shadow: 0px 0px 15px 0px;
  z-index: 2;
  background-color: rgba(82, 82, 82, 0.8);
  opacity: 1;
}

.image-container img {
  overflow: hidden;
  height: 200px;
}

.card-content {
  margin: 1rem;
  margin-top: 0.3rem;
}
.card-title {
  margin-bottom: 0.5rem;
}

.card-title > h3,
p {
  margin: 10px;
  padding: 0;
}

.card-body {
  margin: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.btn button {
  padding: 0.5rem;

  color: white;
  background-color: black;
  border: none;
  transition: 0.5s;
  animation: ease-in-out;
}

@media screen and (max-width: 960px) {
  .card-container {
    display: grid;
    float: none;
  }
}
